/*
TEMPORARILY DISABLING TO ALLOW GRID CSS
@import "bootstrap/grid.large";
*/
.visible-lg {
  display: block !important; }

table.visible-lg {
  display: table; }

tr.visible-lg {
  display: table-row !important; }

th.visible-lg,
td.visible-lg {
  display: table-cell !important; }

.visible-lg-block {
  display: block !important; }

.visible-lg-inline {
  display: inline !important; }

.visible-lg-inline-block {
  display: inline-block !important; }

.hidden-lg {
  display: none !important; }

/*# sourceMappingURL=large.css.map */
