﻿<%@ Page Title="" Language="C#" MasterPageFile="AspNetForumMaster.Master" AutoEventWireup="true" CodeBehind="facebooklogin.aspx.cs" Inherits="aspnetforum.facebooklogin" %>


<asp:Content ID="Content2" ContentPlaceHolderID="AspNetForumContentPlaceHolder" runat="server">

</asp:Content>
