﻿<%@ Page Title="Change Password" Language="C#" MasterPageFile="~/remsForumMasterPage.master" AutoEventWireup="true"
    CodeFile="ChangePassword.aspx.cs" Inherits="Account_ChangePassword" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="head">
</asp:Content>
<asp:Content ID="leftContent" runat="server" ContentPlaceHolderID="ContentLeftMenu">
<div class="forumSideNav">
    <div class="column left">
<table>
<tr>
<td>
    <asp:LinkButton ID="LinkButton1" PostBackUrl="~/Default.aspx" runat="server">Home</asp:LinkButton></td>
</tr>
<tr>
<td><asp:LinkButton ID="LinkButton2" runat="server" PostBackUrl="~/2_About.aspx">About the REMS TA Center CoP</asp:LinkButton></td>
</tr>
<tr>
<%--<td><asp:LinkButton ID="LinkButton5" runat="server" PostBackUrl="~/AboutTeam.aspx">Meet the REMS TA Center Team</asp:LinkButton></td>--%>
</tr>
<tr>
<td><asp:LinkButton ID="LinkButton4" Width="200" runat="server" PostBackUrl="~/3_PortalRules.aspx">Community Rules</asp:LinkButton></td>
</tr>
<tr>
<td><asp:LinkButton ID="LinkButton6" runat="server" PostBackUrl="~/Account/Register.aspx">join the community</asp:LinkButton></td>
</tr>
<tr>
<td><asp:Label ID="LinkButton3" runat="server" ForeColor="White" BackColor="#2E9AFE"><b>Log In</b></asp:Label></td>
</tr>
<tr>
<td>
<%--<asp:LinkButton ID="LinkButton5" onClientClick="window.open('../events.aspx');" runat="server">Events</asp:LinkButton>--%>
</td>
</tr>
</table>
</div>
   </div> <!-- /ForumSideNav -->
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="ContentMain">
    <h2>
        Change Password
    </h2>
    <p>
        Use the form below to change your password.
    </p>
    <p>
        New passwords are required to be a minimum of <%= Membership.MinRequiredPasswordLength %> characters in length.
    </p>
    <asp:ChangePassword ID="ChangeUserPassword" runat="server" CancelDestinationPageUrl="~/" EnableViewState="false" RenderOuterTable="false" 
         SuccessPageUrl="ChangePasswordSuccess.aspx">
        <ChangePasswordTemplate>
            <span class="failureNotification">
                <asp:Literal ID="FailureText" runat="server"></asp:Literal>
            </span>
            <asp:ValidationSummary ID="ChangeUserPasswordValidationSummary" runat="server" CssClass="failureNotification" 
                 ValidationGroup="ChangeUserPasswordValidationGroup"/>
            <div class="accountInfo">
                <fieldset class="changePassword">
                    <legend>Account Information</legend>
                    <p>
                        <asp:Label ID="CurrentPasswordLabel" runat="server" AssociatedControlID="CurrentPassword">Old Password:</asp:Label>
                        <asp:TextBox ID="CurrentPassword" runat="server" CssClass="passwordEntry" TextMode="Password"></asp:TextBox>
                        <asp:RequiredFieldValidator ID="CurrentPasswordRequired" runat="server" ControlToValidate="CurrentPassword" 
                             CssClass="failureNotification" ErrorMessage="Password is required." ToolTip="Old Password is required." 
                             ValidationGroup="ChangeUserPasswordValidationGroup">*</asp:RequiredFieldValidator>
                    </p>
                    <p>
                        <asp:Label ID="NewPasswordLabel" runat="server" AssociatedControlID="NewPassword">New Password:</asp:Label>
                        <asp:TextBox ID="NewPassword" runat="server" CssClass="passwordEntry" TextMode="Password"></asp:TextBox>
                        <asp:RequiredFieldValidator ID="NewPasswordRequired" runat="server" ControlToValidate="NewPassword" 
                             CssClass="failureNotification" ErrorMessage="New Password is required." ToolTip="New Password is required." 
                             ValidationGroup="ChangeUserPasswordValidationGroup">*</asp:RequiredFieldValidator>
                    </p>
                    <p>
                        <asp:Label ID="ConfirmNewPasswordLabel" runat="server" AssociatedControlID="ConfirmNewPassword">Confirm New Password:</asp:Label>
                        <asp:TextBox ID="ConfirmNewPassword" runat="server" CssClass="passwordEntry" TextMode="Password"></asp:TextBox>
                        <asp:RequiredFieldValidator ID="ConfirmNewPasswordRequired" runat="server" ControlToValidate="ConfirmNewPassword" 
                             CssClass="failureNotification" Display="Dynamic" ErrorMessage="Confirm New Password is required."
                             ToolTip="Confirm New Password is required." ValidationGroup="ChangeUserPasswordValidationGroup">*</asp:RequiredFieldValidator>
                        <asp:CompareValidator ID="NewPasswordCompare" runat="server" ControlToCompare="NewPassword" ControlToValidate="ConfirmNewPassword" 
                             CssClass="failureNotification" Display="Dynamic" ErrorMessage="The Confirm New Password must match the New Password entry."
                             ValidationGroup="ChangeUserPasswordValidationGroup">*</asp:CompareValidator>
                    </p>
                </fieldset>
                <p class="submitButton">
                    <asp:Button ID="CancelPushButton" runat="server" CausesValidation="False" CommandName="Cancel" Text="Cancel"/>
                    <asp:Button ID="ChangePasswordPushButton" runat="server" CommandName="ChangePassword" Text="Change Password" 
                         ValidationGroup="ChangeUserPasswordValidationGroup"/>
                </p>
            </div>
        </ChangePasswordTemplate>
    </asp:ChangePassword>
</asp:Content>