@charset "UTF-8";
/* CSS Document */
div.reports_countyDiv {
    border-bottom: 1px solid #CCCCCC;
    color: #0154A0;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 1.5em;
    font-weight: bold;
    margin: 15px 0 0;
    padding: 0 0 3px;
	font-style:italic;
}
div.reports_title_grouping {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: bold;
    margin: 5px 0 1px 8px;
}
.resrop_style a, .resrop_style a:link {
    color: #0172B8;
    text-decoration: none;
}
.resrop_style a:hover, .resrop_style a:focus {
	color: #849717;
}
.resrop_row {
	padding-bottom: 1.3%;
	border-bottom: 1px dotted #CCC;
}
a[href$=".pdf"] {
    background: url(icon_acrobat.gif) no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 16px;
}
a[href$=".doc"] {
    background: url(icon_Word.png)  no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 16px;
}
a[href$=".docx"] {
    background: url(icon_Word.png)  no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 16px;
}
a[href$=".ppt"] {
    background: url(icon_ppt.png) no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 16px;
}
